/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements */
* {
  -box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  font-size: 16px;
}

body div#container {
  padding: 0px;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0px;
  position: relative;
  width: 100%;
}

body div#container #content {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  z-index: 0;
}

body div#container #content #main_page {
  height: 100%;
  width: 100%;
}

body div#container #content #main_page #about_img_div {
  background-color: #003400;
  height: 40vh;
}

body div#container #content #main_page #about_description {
  padding: 1.5rem;
}

body div#container #content #main_page #about_description h1 {
  font-size: 2.5rem;
}

body div#container #content #main_page #about_description p {
  margin-top: 1rem;
}

body div#container #content #main_page #projects {
  background-color: #DDDDDD;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 0.05rem;
  width: 100%;
}

body div#container #content #main_page #projects .project {
  background-color: #FFFFFF;
  border-radius: 5%;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem 4% 2rem 4%;
  width: 92%;
}

body div#container #content #main_page #projects .project h1 {
  font-size: 1.15rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

body div#container #content #main_page #projects .project:last-child {
  margin-bottom: 6.5rem;
}

body div#container #content #main_page #projects .project .portfolio_image_container {
  margin: auto;
  width: 80%;
}

body div#container #content #main_page #projects .project .portfolio_image_container a .portfolio_image {
  width: 100%;
}

body div#container #content #main_page #projects .project .portfolio_link_container {
  width: 80%;
  margin: auto;
  padding-bottom: 1rem;
}

body div#container #content #main_page #projects .project .portfolio_link_container a {
  text-decoration: none;
}

body div#container #content #main_page #projects .project .portfolio_link_container a h1 {
  background-color: #DDDDDD;
  border-radius: 5%;
  color: black;
  margin-top: 1rem;
}

body div#container #content #main_page #resume_sections {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 2rem;
  width: 100%;
}

body div#container #content #main_page #resume_sections #languages {
  width: 100%;
}

body div#container #content #main_page #resume_sections #languages h1 {
  font-size: 2rem;
}

body div#container #content #main_page #resume_sections #languages hr {
  margin-right: 2rem;
  margin-top: 0.5rem;
}

body div#container #content #main_page #resume_sections #languages #languages_grid .badge {
  margin: auto;
  margin-bottom: 1rem;
  width: 80%;
}

body div#container #content #main_page #resume_sections #languages #languages_grid .badge .language_icon {
  width: 100%;
}

body div#container #content #main_page #resume_sections #education {
  width: 100%;
}

body div#container #content #main_page #resume_sections #education h1 {
  font-size: 2rem;
}

body div#container #content #main_page #resume_sections #education hr {
  margin-right: 2rem;
  margin-top: 0.5rem;
}

body div#container #content #main_page #resume_sections #education .education {
  width: 100%;
}

body div#container #content #main_page #resume_sections #education .education .education_detail h1 {
  font-size: 1.25rem;
}

body div#container #content #main_page #resume_sections #education .education .education_detail h2 {
  font-weight: normal;
}

body div#container #content #main_page #resume_sections #education .education .education_detail .activities {
  margin-top: 1rem;
}

body div#container #content #main_page #resume_sections #education .education .education_detail ul {
  margin-left: 1.5rem;
}

body div#container #content #main_page #resume_sections #education .education .education_logo_container {
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 80%;
}

body div#container #content #main_page #resume_sections #education .education .education_logo_container img {
  width: 100%;
}

body div#container #content #main_page #resume_sections #experience {
  margin-top: 2rem;
  width: 100%;
}

body div#container #content #main_page #resume_sections #experience h1 {
  font-size: 2rem;
}

body div#container #content #main_page #resume_sections #experience hr {
  margin-right: 2rem;
  margin-top: 0.5rem;
}

body div#container #content #main_page #resume_sections #experience .experience {
  margin-bottom: 4.5rem;
  width: 100%;
}

body div#container #content #main_page #resume_sections #experience .experience .experience_logo_container {
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 80%;
}

body div#container #content #main_page #resume_sections #experience .experience .experience_logo_container img {
  width: 100%;
}

body div#container #content #main_page #resume_sections #experience .experience .experience_detail .accordion_button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

body div#container #content #main_page #resume_sections #experience .experience .experience_detail .active, body div#container #content #main_page #resume_sections #experience .experience .experience_detail .accordion_button:hover {
  background-color: #ccc;
}

body div#container #content #main_page #resume_sections #experience .experience .experience_detail .experience_accordion {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

body div#container #content #main_page #resume_sections #experience .experience .experience_detail .experience_accordion ul {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

body div#container #content #main_page #resume_sections #experience .experience .experience_detail .experience_accordion .last_list {
  margin-bottom: 0rem;
}

body div#container #content #nav_bar {
  background-color: rgba(0, 52, 0, 0.6);
  height: 4.5rem;
  padding-left: 1rem;
}

body div#container #content #nav_bar div {
  padding-top: 0.5rem;
}

body div#container #content #nav_bar div #hamburger_menu {
  width: 3.5rem;
  height: 3.5rem;
}

body div#container #drawer {
  background-color: #FFFFFF;
  height: 100vh;
  left: -100%;
  position: absolute;
  width: 100%;
  z-index: 2;
  transition-timing-function: ease-out;
  -webkit-transition: all .5s, -webkit-transform .5s;
  transition: all .5s, transform .5s;
}

body div#container #drawer #drawer_content #description {
  margin-top: -1.5rem;
}

body div#container #drawer #drawer_content #description h1 {
  font-size: 2.25rem;
  margin-top: 0.5rem;
  text-align: center;
}

body div#container #drawer #drawer_content #description h2 {
  font-size: 1.05rem;
  margin-top: 0.25rem;
  text-align: center;
}

body div#container #drawer #drawer_content #description #profile_pic {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 65%;
}

body div#container #drawer #drawer_content #links {
  margin: 2rem 1.5rem;
}

body div#container #drawer #drawer_content #links h2 {
  font-size: 2rem;
  margin-top: 1rem;
}

body div#container #drawer #drawer_content #links h2:hover {
  color: rgba(0, 52, 0, 0.6);
  font-size: 3rem;
}

body div#container #drawer #drawer_content #top_drawer {
  height: 3.5rem;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
}

body div#container #drawer #drawer_content #top_drawer div #close_hamburger_menu {
  width: 3.5rem;
  height: 3.5rem;
}

body div#container #drawer #drawer_footer {
  background-color: rgba(0, 52, 0, 0.6);
  bottom: 0rem;
  height: 5rem;
  padding: 0.75rem 0rem;
  position: fixed;
  width: inherit;
}

body div#container #drawer #drawer_footer #social_icons {
  margin: auto;
  align-items: flex-end;
  text-align: center;
}

body div#container #drawer #drawer_footer #social_icons .social_div {
  width: 25%;
  display: inline-block;
  text-align: center;
}

body div#container #drawer #drawer_footer #social_icons .social_div .social_icon {
  width: 3rem;
}

body div#container #shadow_div {
  background-color: #444444;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  transition-timing-function: ease-out;
  -webkit-transition: all .5s, -webkit-transform .5s;
  transition: all .5s, transform .5s;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 20rem) {
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge {
    width: 40%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge:nth-child(2n+1) {
    float: left;
    margin-left: 3%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge:nth-child(2n) {
    float: right;
    margin-right: 3%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge .text {
    left: 15%;
  }
  body div#container #drawer {
    width: 20rem;
  }
}

@media only screen and (min-width: 35rem) {
  body div#container #content #main_page #about_img_div {
    height: 60vh;
  }
  body div#container #content #main_page #projects .project {
    width: 44%;
  }
  body div#container #content #main_page #projects .project:nth-child(2n+1) {
    float: left;
    margin-left: 4%;
  }
  body div#container #content #main_page #projects .project:nth-child(2n) {
    float: right;
    margin-right: 4%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid {
    width: 100%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge {
    width: 20%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge:nth-child(4n+1) {
    float: left;
    margin-left: 3%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge .text {
    left: 15%;
  }
  body div#container #content #main_page #resume_sections #education .education {
    width: 44%;
  }
  body div#container #content #main_page #resume_sections #education .education:nth-child(2n) {
    float: right;
  }
  body div#container #content #main_page #resume_sections #education .education:nth-child(2n+1) {
    float: left;
  }
  body div#container #content #main_page #resume_sections #experience .experience {
    width: 44%;
  }
  body div#container #content #main_page #resume_sections #experience .experience:nth-child(2n) {
    float: right;
  }
  body div#container #content #main_page #resume_sections #experience .experience:nth-child(2n+1) {
    float: left;
  }
}

@media screen and (min-width: 60rem) {
  body div#container #content {
    background-color: white;
    border-shadow: 0 0 10px #000000;
    max-width: 80rem;
    margin: 2rem auto;
  }
  body div#container #content #main_page #about_img_div {
    height: 100vh;
    width: 50%;
    float: left;
  }
  body div#container #content #main_page #about_description {
    padding: 1.5rem;
    width: 50%;
    float: right;
  }
  body div#container #content #main_page #projects .project {
    width: 28%;
  }
  body div#container #content #main_page #projects .project:nth-child(3n+1) {
    float: left;
    margin-left: 4%;
  }
  body div#container #content #main_page #projects .project:nth-child(3n) {
    float: right;
    margin-right: 4%;
  }
  body div#container #content #main_page #resume_sections #languages {
    display: inline-block;
    float: left;
    height: 100%;
    width: 33%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge {
    width: 40%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge:nth-child(2n+1) {
    float: left;
    margin-left: 3%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge:nth-child(2n) {
    float: right;
    margin-right: 3%;
  }
  body div#container #content #main_page #resume_sections #languages #languages_grid .badge .text {
    left: 15%;
  }
  body div#container #content #main_page #resume_sections #education {
    display: inline-block;
    float: unset;
    height: 100%;
    width: 34%;
  }
  body div#container #content #main_page #resume_sections #education .education {
    margin: auto;
    width: 80%;
  }
  body div#container #content #main_page #resume_sections #education .education:last-child .education_detail ul {
    margin-bottom: 6.5rem;
  }
  body div#container #content #main_page #resume_sections #education .education:nth-child(2n) {
    float: none;
  }
  body div#container #content #main_page #resume_sections #education .education:nth-child(2n+1) {
    float: none;
  }
  body div#container #content #main_page #resume_sections #experience {
    display: inline-block;
    float: right;
    height: 100%;
    margin-top: 0rem;
    width: 33%;
  }
  body div#container #content #main_page #resume_sections #experience .experience {
    margin: auto;
    width: 80%;
  }
  body div#container #content #main_page #resume_sections #experience .experience:nth-child(2n) {
    float: none;
  }
  body div#container #content #main_page #resume_sections #experience .experience:nth-child(2n+1) {
    float: none;
  }
}
