#about_description {
    float: right;
    height: 100%;
    width: 55%;
}

#about_img_div {
    background-color: #003200;
    float: left;
    height: 100%;
    width: 45%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: monospace, sans-serif;
}

#column_left {
    display: inline-block;
    float: left;
    height: 100%;
    width: 33%
}

#column_middle {
    display: inline-block;
    float: unset;
    height: 100%;
    width: 34%;
}

#column_right {
    display: inline-block;
    float: right;
    height: 100%;
    width: 33%;
}

#container {
    height: 100vh;
    margin: 0px;
    overflow:hidden;
    padding: 0px;
    position: relative;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 0;
}

#description {
    text-align: center;
    margin: 0px;
}

#drawer {
    background-color: #FFFFFF;
    height: 100vh;
    left: -100%;
    padding: 12px;
    position: absolute;
    width: 275px;
    z-index: 2;

    transition-timing-function: ease-out;
    -webkit-transition: all .5s, -webkit-transform .5s;
    transition: all .5s, transform .5s;
}

h1 {
    margin-top: 8px;
    margin-bottom: 0px;
}

h4 {
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: 0px;
}

hr {
    border-color: black;
    margin-left: 24px;
    margin-right: 24px;
}

.link:hover {
    color: rgba(0, 52, 0, .6);
    font-size: 20px;
    font-weight: bold;
}

#links {
    height: 80px;
    margin-left: 6px;
    margin-top: 18px;
    margin-bottom: 18px;
}

#main_page {
    height: 100%;
    width: 100%;
}

#nav_bar {
    background-color: rgba(0, 52, 0, .6);
    width: 100%;
    height: 36px;
    padding: 12px;
    margin: 0px;
}

p {
    margin-left: 24px;
    margin-right: 16px;
}

.page_header {
    margin-top: 16px;
    margin-left: 24px;
    font-size: 48px;
    color: rgba(0,0,0,.8);
}

#profile_pic {
    border-radius: 50%;
    display: block;
    height: 225px;
    margin: auto;
    width: 225px;
}

.resume_header {
    margin-top: 24px;
    margin-left: 24px;
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .2s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

#shadow_div {
    background-color: #444444;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: -1;

    transition-timing-function: ease-out;
    -webkit-transition: all .5s, -webkit-transform .5s;
    transition: all .5s, transform .5s;
}

.social_div {
  width: 60px;
  display: inline-block;
  text-align: center;
}

.social_icon {
    width: 36px;
}

#social_icons {
    width: fit-content;
    margin: auto;
}

#social_set {
    background-color: rgba(0, 52, 0, .6);
    padding: 12px;
}

#top_drawer {
    width: 100%;
    height: 36px;
}