html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#336831, #4C8A4A);

  color: white;
  font-family: sans-serif;
}

.left {
  float: left;
  margin-left: 20px;
  margin-top:  20px;
  padding-right: 20px;
}

.right {
  float: right;
  margin-left: 20px;
  margin-top:  20px;
  padding-right: 20px;
}

.language_col {
  width: 40%;
}

.contact_card {
  width: 30%;
  border-right:  1px solid white;
  text-align: center;
}

.details {
  width: 60%;
  overflow-y: auto;
}

.projects {
  width: 40%;
}

.project_image {
  width: 300px;
  height: 300px;
}

#img_div {
  display: inline-block;
}

h4 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #000000;
}

#img_div img {
  width: 250px;
}

#name {
  width: 235px;
  margin-left: auto;
  margin-right: auto;

  font-size: 36px;
}

#bio {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.logo_div {
  width: 60px;
  display: inline-block;
  text-align: center;
}

.logo_img {
  width: 40px;
}







