/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements */
* {
	-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
    font-family: $defaultFont;
    font-size: 16px;

    div#container {
    	padding: 0px;
    	height: 100vh;
        margin: 0px;
        overflow:hidden;
        padding: 0px;
        position: relative;
        width: 100%;

    	#content {
    		height: 100%;
	        width: 100%;
	        padding: 0px;
	        margin: 0px;
	        position: absolute;
	        z-index: 0;

	        #main_page {
	        	height: 100%;
	        	width: 100%;

	        	#about_img_div {
	        		background-color: $primaryFull;
	        		height: 40vh;
	        	}

	        	#about_description {
	        		padding: 1.5rem;

	        		h1 {
	        			font-size: 2.5rem;
	        		}

	        		p {
	        			margin-top: 1rem;
	        		}
	        	}

	        	#projects {
	        		background-color: #DDDDDD;
	        		height: 100%;
	        		overflow: scroll;
	        		padding-top: 0.05rem;
	        		width: 100%;

	        		.project {
	        			background-color: #FFFFFF;
				        border-radius: 5%;
				        margin: auto;
				        margin-top: 2rem;
				        padding: 2rem 4% 2rem 4%;
				        width: 92%;

				        h1 {
							font-size: 1.15rem;
							padding-bottom: 1rem;
				        	padding-top: 1rem;
				        	text-align: center;
						}

						&:last-child {
		        			margin-bottom: 6.5rem;
		        		}

				        .portfolio_image_container {
				        	margin: auto;
				        	width: 80%;

				        	a {
				        		.portfolio_image {
					        		width: 100%;
					        	}
				        	}
				        }

				        .portfolio_link_container {
				        	width: 80%;
    						margin: auto;
    						padding-bottom: 1rem;

    						a {
    							text-decoration: none;

    							h1 {
					        		background-color: #DDDDDD;
					        		border-radius: 5%;
    								color: black;
					        		margin-top: 1rem;
    							}
    						}
				        }
	        		}
	        	}

	        	#resume_sections {
	        		height: 100%;
	        		overflow: scroll;
	        		padding: 2rem;
	        		width: 100%;

	        		#languages {
	        			width: 100%;

	        			h1 {
	        				font-size: 2rem;
	        			}

	        			hr {
	        				margin-right: 2rem;
	        				margin-top: 0.5rem;
	        			}

	        			#languages_grid {
	        				.badge {
	        					margin: auto;
	        					margin-bottom: 1rem;
	        					width: 80%;

	        					.language_icon {
	        						width: 100%;
	        					}
	        				}
	        			}
	        		}

	        		#education {
	        			width: 100%;

	        			h1 {
	        				font-size: 2rem;
	        			}

	        			hr {
	        				margin-right: 2rem;
	        				margin-top: 0.5rem;
	        			}

	        			.education {
	        				width: 100%;

	        				.education_detail {
	        					h1 {
	        						font-size: 1.25rem;
	        					}

	        					h2 {
	        						font-weight: normal;
	        					}

	        					.activities {
	        						margin-top: 1rem;
	        					}

	        					ul {
	        						margin-left: 1.5rem;
	        					}
	        				}

	        				.education_logo_container {
	        					margin: auto;
	        					margin-bottom: 1rem;
	        					margin-top: 1rem;
	        					width: 80%;

	        					img {
		        					width: 100%;
		        				}
	        				}
	        			}
	        		}

	        		#experience {
	        			margin-top: 2rem;
	        			width: 100%;

	        			h1 {
	        				font-size: 2rem;
	        			}

	        			hr {
	        				margin-right: 2rem;
	        				margin-top: 0.5rem;
	        			}

	        			.experience {
	        				margin-bottom: 4.5rem;
	        				width: 100%;

	        				.experience_logo_container {
	        					margin: auto;
	        					margin-bottom: 1rem;
	        					margin-top: 1rem;
	        					width: 80%;

	        					img {
		        					width: 100%;
		        				}
	        				}

	        				.experience_detail {
	        					.accordion_button {
							        background-color: #eee;
							        color: #444;
							        cursor: pointer;
							        padding: 18px;
							        width: 100%;
							        text-align: left;
							        border: none;
							        outline: none;
							        transition: 0.4s;
							    }

							    .active, .accordion_button:hover {
							        background-color: #ccc;
							    }

							    .experience_accordion {
							        padding: 0 18px;
							        background-color: white;
							        display: none;
							        overflow: hidden;

							        ul {
						        		margin-bottom: 2rem;
						        		margin-top: 1rem;
						        	}

						        	.last_list {
						        		margin-bottom: 0rem;
						        	}
							    }
	        				}
	        			}
	        		}
	        	}
	        }

    		#nav_bar {
    			background-color: $primaryColor;
    			height: 4.5rem;
    			padding-left: 1rem;

    			div {
    				padding-top: 0.5rem;

    				#hamburger_menu {
	    				width: 3.5rem;
	    				height: 3.5rem;
	    			}
    			}
    		}
    	}

    	#drawer {
    		background-color: #FFFFFF;
	        height: 100vh;
	        left: -100%;
	        position: absolute;
	        width: 100%;
	        z-index: 2;

	        transition-timing-function: ease-out;
	        -webkit-transition: all .5s, -webkit-transform .5s;
	        transition: all .5s, transform .5s;

	        #drawer_content {
	        	#description {
		        	margin-top: -1.5rem;

		        	h1 {
		        		font-size: 2.25rem;
		        		margin-top: 0.5rem;
		        		text-align: center;
		        	}

		        	h2 {
		        		font-size: 1.05rem;
		        		margin-top: 0.25rem;
		        		text-align: center;
		        	}

		        	#profile_pic {
		        		border-radius: 50%;
				        display: block;
				        margin: auto;
				        width: 65%;
		        	}
		        }

		        #links {
		        	margin: 2rem 1.5rem;

		        	h2 {
		        		font-size: 2rem;
		        		margin-top: 1rem;
		        	}

		        	h2:hover {
		        		color: $primaryColor;
		        		font-size: 3rem;
		        	}
		        }

		        #top_drawer {
	    			height: 3.5rem;
	    			padding-left: 0.75rem;
	    			padding-top: 0.75rem;

	    			div {

	    				#close_hamburger_menu {
		    				width: 3.5rem;
		    				height: 3.5rem;
		    			}
	    			}
	    		}
	        }

	        #drawer_footer {
	        	background-color: rgba(0, 52, 0, 0.6);
			    bottom: 0rem;
			    height: 5rem;
			    padding: 0.75rem 0rem;
			    position: fixed;
			    width: inherit;

	        	#social_icons {
        			margin: auto;
        			align-items: flex-end;
    				text-align: center;

	        		.social_div {
	        			width: 25%;
						display: inline-block;
						text-align: center;

	        			.social_icon {
	        				width: 3rem;
	        			}
	        		}
	        	}
	        }
    	}

    	#shadow_div {
	        background-color: #444444;
	        height: 100vh;
	        padding: 0px;
	        margin: 0px;
	        opacity: 0;
	        position: absolute;
	        width: 100%;
	        z-index: -1;

	        transition-timing-function: ease-out;
	        -webkit-transition: all .5s, -webkit-transform .5s;
	        transition: all .5s, transform .5s;
	    }
    }
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}