body{
    div#container {
    	#content {
	        #main_page {
	        	#about_img_div {
	        		height: 60vh;
	        	}

	        	#projects {
	        		.project {
	        			width: 44%;

	        			&:nth-child(2n+1) {
							float: left;
							margin-left: 4%;
						}

						&:nth-child(2n) {
							float: right;
							margin-right: 4%;
						}
	        		}
	        	}

	        	#resume_sections {
	        		#languages {
	        			#languages_grid {
	        				width: 100%;


	        				.badge {
	        					width: 20%;

	        					&:nth-child(4n+1) {
									float: left;
									margin-left: 3%;
								}


	        					.text {
								    left: 15%;
	        					}
	        				}
	        			}
	        		}

	        		#education {
	        			.education {
		        			width: 44%;

		        			&:nth-child(2n) {
		        				float: right;
		        			}

		        			&:nth-child(2n+1) {
		        				float: left;
		        			}
		        		}
	        		}

	        		#experience {
	        			.experience {
	        				width: 44%;

	        				&:nth-child(2n) {
		        				float: right;
		        			}

		        			&:nth-child(2n+1) {
		        				float: left;
		        			}
	        			}
	        		}
	        	}
	        }
	    }
	}
}